/.idea/
/bin/probes/probe*.sh
/etc/probes/probe*.job
/etc/hydrolix/.kubeconfig
/etc/hydrolix/manifest.yml
/etc/hydrolix/operator.yml
/etc/tls/cert*
/iac/.terraform*
/iac/terraform.tfstate*
/iac/terraform.tfvars
/etc/grafana/.kubeconfig
