/.idea/
/etc/grafana/.kubeconfig
/etc/hydrolix/.kubeconfig
/etc/hydrolix/manifest.yml
/etc/hydrolix/operator.yml
/etc/tls/*.pem
/etc/tls/certificateIssuance.conf
/iac/.terraform*
/iac/terraform.tfstate*
/iac/terraform.tfvars
