/.idea/
/etc/grafana/.kubeconfig
/etc/grafana/ingress.conf
/etc/grafana/stack.yaml
/etc/hydrolix/.kubeconfig
/etc/hydrolix/operator.yaml
/etc/hydrolix/stack.yaml
/etc/tls/*.pem
/etc/tls/certificateIssuance.properties
/iac/.terraform*
/iac/terraform.tfstate*
/iac/terraform.tfvars