credentials = {
  linodeToken = "<linodeToken>"
}

settings = {
  general = {
    email  = "<email>"
    domain = "<domain>"
  }

  grafana = {
    namespace    = "grafana"
    prefix       = "grafana"
    tags         = [ "dataviz", "observability" ]
    region       = "<region>"
    nodeType     = "<nodeType>"
    minNodeCount = 1
    maxNodeCount = 3
  }
}